
.col-xs-6{
	margin-top:11px;	
}
.navbar-brand{
	padding:0px 15px;
	font-size: 40px;
}
body{
	font-size: 19px;
	line-height: 0.75;
	background-color: rgba(65,50,101,0.69);
}
.btn{
	padding:7px 13px;
	margin-bottom: 0;
	margin-top: 15px;
	margin-left: -10px;
}
.container-fluid{
	padding-right: 23px;
}
.navbar{
	min-height: 49px;
	margin-bottom: -4px;
}
.navbar-inverse{
	background-color:#211935;
	border-color:#211935;
}
/* Slider */
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	line-height: 1;
	height: 292px;
	width: 1353px;
}
.container{
	margin-top: -20px;
}
.container{
	width:1350px;
}
.jumbotron{
	background-color: rgba(123,113,148,1);
}

/* Footer */
.footer-distributed{
	background-color: #211935;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}