<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:webflow-config="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security.xsd 
       http://www.springframework.org/schema/webflow-config 
       http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd">

	<!-- databse properties DataSource -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.h2.Driver" />
		<property name="url" value="jdbc:h2:tcp://localhost/~/test" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

		<!-- dependency Injection of dataSource -->
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>

				<!-- hibernate mapping to database automatically -->
				<!-- when we use create-drop instead of update the table is created automatically 
					when the server runs after that it will drop when server stops -->
				<prop key="hibernate.hbm2ddl.auto">update</prop>

				<!-- whether the query wants to show the data in console -->
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>

			</props>
		</property>

		<!-- for Entity Classes annotated Classes package -->
		<property name="packagesToScan">
			<list>
				<value>com.model</value>
			</list>
		</property>
<!-- 		<property name="annotatedClasses"> -->
<!-- 		<list> -->
<!-- 			<value>com.model.Product</value> -->
<!-- 			<value>com.model.Category</value> -->
<!-- 		</list> -->
<!-- 		</property> -->
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

</beans>